<!-- templates/questions.html -->

{% extends 'base.html' %}
{% block content %}
 <p><h2>Ответы пользователя</h2></p>
 <p><h3>Нажмите Enter, для каждого измененного поля, что бы сохранить</h3></p>

 {% with messages = get_flashed_messages() %}
 {% if messages %}
     <div class="notification is-danger">
         {{ messages[0] }}
     </div>
 {% endif %}
 {% endwith %}
 
    {% for answer in answers_user %}
    <a>{{answer.question}}</a>
    <form method="POST" action="{{ url_for('quize.change_answer') }}">
        <input type="hidden" name="id" value="{{answer.id}}">
        <input type="text" required name="answer" placeholder="Ответ:" value="{{answer.answer_user}}">
    </form>
    <form method="POST" action="{{ url_for('quize.delete_answer') }}">
        <!-- скрытый параметр -->
        <p><input type="hidden" name="id" value="{{answer.id}}"></p>
        <p><input type="submit" value="Удалить"></p>
    </form>
    {% endfor %}
    {% if is_not_answers %}
    <h4>Ответов пока что нет, ответить на вопросы можно <a href="{{ url_for('quize.question_quize') }}" class="active">ТУТ</a> </h4>
    {% endif %}
    {% if current_user.is_authenticated %}
    <div><h5><a href="{{ url_for('quize.delete_question') }}">Удалить неинтересные вопросы</a></h5></div>
    {% endif %}
{% endblock %}