<!-- templates/questions.html -->

{% extends 'base.html' %}
{% block content %}
 <h2>Ответы пользователя</h2>
 {% with messages = get_flashed_messages() %}
 {% if messages %}
     <div class="notification is-danger">
         {{ messages[0] }}
     </div>
 {% endif %}
 {% endwith %}
 
    {% for answer in answers_user %}
    <a>{{answer.question}}</a>
    <form method="POST" action="">
        <input type="text" required name="{{answers_user.id}}" placeholder="Ответ:" value="{{answer.answer_user}}">
    </form>
    <form method="POST" action="{{ url_for('quize.delete_answer') }}/">
        <!-- скрытый параметр -->
        <input type="hidden" name="id" value="{{answers_user.id}}">
        <input type="submit" value="Удалить">
    </form>
    {% endfor %}
    {% if not answers_user %}
    <h4>Ответов пока что нет, ответить на вопросы можно <a href="{{ url_for('quize.questions') }}" class="active">ТУТ</a> </h4>
    {% endif %}
{% endblock %}