<!-- templates/questions.html -->

{% extends 'base.html' %}
{% block content %}
 <h2>Вопросы</h2>
 {% with messages = get_flashed_messages() %}
 {% if messages %}
     <div class="notification is-danger">
         {{ messages[0] }}
     </div>
 {% endif %}
 {% endwith %}
 <form method="POST" action="">
    <ul>
        {% for question in questions %}
        <li><a>{{question.id}}. {{question.question}}</a></li>
        <input type="text" required name="{{question.id}}" placeholder="Ответ:">
        {% endfor %}
    </ul>
    {% if questions %}
    <button>Ответить</button>
    {% endif %}
    {% if not questions %}
    <h4>Вопросов пока что нет, можно добавить <a href="{{ url_for('quize.add_question') }}" class="active">ТУТ</a> </h4>
    {% endif %}
</form>
{% endblock %}